<p>Hi <%= username %></p>
</br>
<p>Thanks for signing up and opening a window into awesomeness! Even3 lets you create, find and share experiences, but wait there’s more  - find local vendors to help you through the hassle of organizing and event. All with ratings from you and other users. Let’s get you started.</p>
<p><a href='http://even3app.com/#!/howItWorks'>How it Works?</a></p>
<p>Click here to Download our amazeballs android app</p>

<a href="www.google.com">
<a href="http://imgur.com/EKuE6rC"><img src="http://i.imgur.com/EKuE6rC.png" title="source: imgur.com" width="110" height="50"/></a>
<p>Come Hang with us <a href="">Facebook</a>|<a href="">Twitter</a></p>
</br>
<p>Love,</p>
<p>Even3 Team.</p>
